{% extends 'base.html.twig' %}

{% block title %}Formations index{% endblock %}

{% block body %}
    <h1>Formations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Description</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.Date ? formation.Date|date('Y-m-d') : '' }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.time ? formation.time|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('formations_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('formations_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formations_new') }}">Create new</a>
{% endblock %}
